{% extends 'wechatted.html' %}
{% block body %}
<div class="row" style="max-height:600px">
  <div class="col-3" style="max-height: inherit">
    <div class="row" style="max-height: inherit">
      <div class="col" style="max-height: inherit">
        <ul class="list-group" style="max-height: inherit; margin-bottom: 10px; overflow-y: auto;" id="leftListParent">
        </ul>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div>
      <form>
        <textarea class="form-control" id="message2Send" rows=10></textarea>
      </form>
    </div>
    <div>
      <button class="btn btn-primary" id="sendButton" onclick="sendToWechat()">Send</button>
      <!--<button class="btn btn-primary" id="saveButton">Save</button>-->
    </div>
    <div style="text-align: left">
      <div class="row">
        <div class="col" style="text-align: right"><label>MesssageID</label></div>
        <div class="col"><label id="msgID"></label></div>
      </div>
      <div class="row">
        <div class="col" style="text-align: right"><label>Student Name</label></div>
        <div class="col"><label id="studentName"></label></div>
      </div>
      <div class="row">
        <div class="col" style="text-align: right"><label>Teacher Name</label></div>
        <div class="col"><label id="teacherName"></label></div>
      </div>
      <div class="row">
        <div class="col" style="text-align: right"><label>Message is edited</label></div>
        <div class="col"><label id="messageEdited"></label></div>
      </div>
      <div class="row">
        <div class="col" style="text-align: right"><label>Reason Filling</label></div>
        <div class="col"><label id="reasonFilling"></label></div>
      </div>
      <div class="row">
          <div class="col" style="text-align: right"><label>Submission Category</label></div>
          <div class="col"><label id="submissionCategory"></label></div>
        </div>
    </div>
  </div>
  <div class="col-3" style="max-height: inherit">
    {% block wechatList %}{{ super() }}{% endblock %}
  </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
function getInfo(elem) {
  var id = elem.id.slice(8);
  var form = "";
  var url = "";
  if (id.startsWith("BiggerlabCourseFeedback")) {
    form = "BiggerlabCourseFeedback";
    url = "/BiggerlabCourseFeedback/getDoc?id=" + id.slice(23);
  } else if (id.startsWith("LittleUnicornMentorshipReport")) {
    form = "LittleUnicornMentorshipReport"
    url = "/LittleUnicornMentorshipReport/getDoc?id=" + id.slice(29);
  }
  
  var xhr = new XMLHttpRequest;
  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4 && xhr.status == 200) {
      [].forEach.call(document.getElementsByClassName("list-group-item-action active"),
        function (btn) {
          if (btn.id.startsWith("leftList")) {
            btn.classList.remove("active")
          }});
        
      var jsonData = JSON.parse(xhr.responseText);
      {document.getElementById("msgID").textContent = jsonData.id;
      document.getElementById("message2Send").value = jsonData.message;
      document.getElementById("studentName").textContent = jsonData.studentName;
      document.getElementById("teacherName").textContent = jsonData.teacherName;
      document.getElementById("messageEdited").textContent = jsonData.messageEdited;
      if (form == "BiggerlabCourseFeedback") {
        document.getElementById("reasonFilling").textContent = jsonData.reasonFilling;
      } else if (form == "LittleUnicornMentorshipReport") {
        document.getElementById("submissionCategory").textContent = jsonData.submissionCategory;
      }
      document.getElementById("leftList"+id).classList.add("active");}
      for (item of wechatContactList) {
        if (item.id.includes(jsonData.studentName)) {
          makeToTop(item);
          wechatContactClick(item);
        }
      }
    }
  }
  xhr.open("GET", url, true);
  xhr.send();
}

function filter() {
  var leftListParent = document.getElementById("leftListParent");
  while (leftListParent.firstElementChild) {
    leftListParent.removeChild(leftListParent.firstElementChild);
  }
  var reasonFilling = ["试听课反馈，由课程顾问复述给家长",
                       "阶段性+续费课程反馈，给家长",
                       "学生获奖/录取/荣誉反馈"];
  var request = {"reasonFillingList": reasonFilling};
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function () {
    if (xhr.readyState == 4 && xhr.status == 200) {
      data = JSON.parse(xhr.responseText);
      data = data.sort((a, b) => {return b["jsjid"] - a["jsjid"]});
      for (index in data) {
        datum = data[index];
        var messageListItem = document.createElement("li");
        messageListItem.classList.add("list-group-item", "list-group-item-action");
        messageListItem.id = "leftList" + "BiggerlabCourseFeedback" + datum["jsjid"];
        messageListItem.innerText = "BiggerlabCourseFeedback" + datum["studentName"];
        messageListItem.onclick = (e) => {getInfo(e.target);}
        leftListParent.appendChild(messageListItem);
      }
    }
  }
  xhr.open("POST", "/BiggerlabCourseFeedback/getDocs");
  xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xhr.send(JSON.stringify(request));
  
  var submissionCategory = ["头脑风暴文档验收Brainstorm Document Submission",
                            "项目文档验收Project Document Submission", 
                            "学生技术实现阶段性汇报Technical Realization Stage Report",
                            "项目发布验收(项目完结)Project Publication(End of Project)",
                            "学生情况反馈（当学生出现问题时填写）Student Feedback (When the student fail to meet expectations)"];
  request = {"submissionCategoryList": submissionCategory};
  xhr.onreadystatechange = function () {
    if (xhr.readyState == 4 && xhr.status == 200) {
      data = JSON.parse(xhr.responseText);
      data = data.sort((a, b) => {return b["jsjid"] - a["jsjid"]});
      for (index in data) {
        datum = data[index];
        var messageListItem = document.createElement("li");
        messageListItem.classList.add("list-group-item", "list-group-item-action");
        messageListItem.id = "leftList" + "LittleUnicornMentorshipReport" + datum["jsjid"];
        messageListItem.innerText = "LittleUnicornMentorshipReport" + datum["studentName"];
        messageListItem.onclick = (e) => {getInfo(e.target);}
        leftListParent.appendChild(messageListItem);
      }
    }
  }
  xhr.open("POST", "/LittleUnicornMentorshipReport/getDocs");
  xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xhr.send(JSON.stringify(request));
  
}


oldOnloads.push(window.onload);
window.onload = function () {
  try {
    oldOnloads.pop()()
  } catch(e) {}
  filter();
};
</script>
{% endblock %}