{% extends 'base.html' %}
{% block body %}
<div class="container">
  <div class="row">

    <!--Form list-->
    <div class="col-8">
      <p><a href="/importance" style="color:crimson"><b>Important Form Entries</b></a></p>
      <div class="list-group">
        <a class="list-group-item"><b>Form Name</b></a>
        {% for form in forms %}
        <a class="list-group-item list-group-item-action" href="/{{ form }}" style="color: #007bff">{{ form }}</a>
        {% endfor %}
      </div>
      <!--
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Form name</th>
            <--
            <th scope="col">Head Image</th>
            <th scope="col">Nick Name</th>
            <th scope="col">Actions</th>
          ->->
          </tr>
        </thead>
        <tbody>
          {% for form in forms %}
          <tr>
            <td scope="row"><a href="/{{ form }}">{{ form }}</a></td>
            <--
            <td><img style="height: 50px; width: 50px" src="/static/{ item.NickName }.png"></td>
            <td>{ item.NickName }</td>
            <td><a href="#" onclick="logout(this)">logout</a></td>
            ->->
          </tr>
          {% endfor %}
        </tbody>
      </table>
      -->
    </div>
    <!--Form list-->

    <div class="col-4">
      <div>Alive bot:</div>
      <div>
        {% for bot in bots %}
        <span><img src="{{ bot.HeadSource }}"></span> <span><a href="{{ g.WECHATSERVER }}">{{ bot.NickName }}</a></span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}