{% extends 'form.html' %}
{% block wechatList %}
<div class="col" style="max-height: inherit">

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="wechatBotDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% if bots[0] is defined %}
      <span><img src="{{ bots[0].HeadSource }}"></span>
      <span>{{ bots[0].NickName }}</span>
      {% endif %}
    </button>
    <div class="dropdown-menu" aria-labelledby="wechatBotDropdownMenuButton">
      {% for bot in bots %}
      <a class="dropdown-item" href="#" onclick="changeBot(this)">
        <span><img src="{{ bot.HeadSource }}"></span> <span>{{ bot.NickName }}</span>
      </a>
      {% endfor %}
    </div>
  </div>
  
  <ul class="list-group" style="max-height: inherit; overflow-y: auto; text-align: left;" id="wechatContactList">
  </ul>
</div>
{% endblock %}
{% block script %}
{{ super() }}
<script>

function wechatContactClick(elem) {
  elem.classList.toggle("active");
  var img = elem.firstElementChild;
  if (!img.src) {
    img.src = "{{ g.WECHATBOTSERVER }}getHeadImg?UserName=" + elem.UserName;
  }
}

var wechatContactList;

function changeBot(elem) {
  var NickName = elem.children[1].innerHTML; // get the nickname via the second span element.
  var instanceID = 0;
  var items = document.getElementsByClassName("dropdown-item")
  for (i = 0; i < items.length; i++) {
    if (NickName == items[i]) {
      instanceID = i;
      break;
    }
  } // get the index as instanceID.

  var xhr = new XMLHttpRequest;
  xhr.onreadystatechange = function () {
    if (xhr.readyState == 4 && xhr.status == 200) {
      var btn = document.getElementById("wechatBotDropdownMenuButton");
      while (btn.firstChild) {
        btn.removeChild(btn.firstChild);
      } // remove the stuff on the button,
      for (child of elem.children) {
        btn.appendChild(child.cloneNode(true));
      } // and add the new stuff onto the button.

      var jsonObj = JSON.parse(xhr.responseText);
      var wcl = document.getElementById("wechatContactList");
      while (wcl.firstChild) {
        wcl.removeChild(wcl.firstChild);
      } // remove all elements on the list.
      wechatContactList = Array();
      for (contact of jsonObj) { // for every contact,
        var name;
        if (contact.Type == "Chatroom") {
          name = contact.NickName;
        } else {
          name = contact.RemarkName + " || " + contact.NickName;
        }
        var newNode = document.createElement("li"); // we create a node
        newNode.classList.add("list-group-item", "list-group-item-action"); // that has these classname.
        newNode.id = "wechatList" + name;
        newNode.UserName = contact.UserName;
        newNode.onclick = (e) => {wechatContactClick(e.target)}; // set its onclick event,

        var img = document.createElement("img");
        img.style = "height: 50px; width: 50px;";
        newNode.appendChild(img);

        var textNode = document.createTextNode(name);
        newNode.appendChild(textNode);
        //imgNode.src = "{{ g.WECHATBOTSERVER }}getHeadImg?NickName=" + contact.NickName + "&instanceID=" + instanceID + "&hintRemarkName=" + contact.RemarkName; 
        wechatContactList.push(newNode);
        wcl.appendChild(newNode); // then append it onto the list.
      }
    }
  }

  xhr.open("POST", "{{ g.WECHATBOTSERVER }}getContactList", true);
  xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xhr.send(JSON.stringify({
    "instanceID": instanceID
  }))
}

function sendToWechat() {
  var id = document.getElementById("msgID").textContent;

  var confirmText = "You are about to send the message to these people/chatrooms:";
  var targetList = [];
  for (wechatContact of wechatContactList) {
    if (wechatContact.classList.contains("active")) {
      confirmText += "\n" + wechatContact.id.slice(10)
      targetlist.push(wechatContact.UserName);
    }
  }
  message = document.getElementById("message2Send").value;
  if (confirm(confirmText)) {
    var xhr = new XMLHttpRequest;
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4) {
        if (xhr.status == 200) {
          //var jsonData = JSON.parse(xhr.responseText);
          if (!document.getElementById(id).textContent.endsWith(" (已发送)")) {
              document.getElementById(id).textContent += " (已发送)";
          }
          alert("Message is sent.");
        } else if (xhr.status == 500) {
          alert("Some messages are not sent, please check manually.");
        }
      }
    }
    xhr.open("POST", wechatServer, true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.send(JSON.stringify({
      "id": id,
      "message": document.getElementById("message2Send").value,
      "targetList": targetList
    }))
  }
}

oldOnloads.push(window.onload);
window.onload = function () {
  try {
    oldOnloads.pop()()
  } catch (e) {}
  elem = document.getElementsByClassName("dropdown-menu")[0].firstElementChild;
  changeBot(elem);
};
</script>
{% endblock %}