<!DOCTYPE html>
<html>
<head>
<title>Message Viewer</title>
<link href="bootstrap.min.css" rel="stylesheet" type="text/css">
<style>
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>

<body>
<p><h1>必果编程社</h1></p>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card" style="height: 350px">
        <ul class="list-group" style="max-height: 300px; margin-bottom: 10px; overflow-y: auto;">
          {% for item in leftList %}
            <li class="list-group-item list-group-item-action" id="{{ item.id }}">{{ item.studentName }}</li>
          {% endfor %}
          <li class="list-group-item list-group-item-action">hohoho</li>
        </ul>
      </div>
    </div>
    <div class="col-8">
      <div class="card" id="messageID"></div>
      <div class="w-100"></div>
      <div class="form-group">
        <input type="text" class="form-control" id="message2Send" style="height: 300px">
      </div>
      <div class="w-100"></div>
      <button type="submit" class="btn btn-primary" id="sendButton">Send</button>
    </div>
  </div>
</div>

<!--
<div>
  <a href="http://47.100.121.67:5050/getPage/$form/$previd">previous</a>
  <button id="button_sendToWechat">Send to wechat, ship it!</button>
  <a href="http://47.100.121.67:5050/getPage/$form/$nextid">next</a>
</div>
<div>
  <p>current message ID: $currid</p>
</div>
<div>
  <textarea rows="20" cols="80"> $message </textarea> 
</div>
-->

<script src="jquery-3.3.1.slim.min.js"></script>
<script src="popper.min.js"></script>
<script src="bootstrap.min.js"></script>
<script>
  let button = document.getElementById("sendButton");
  button.addEventListener("click", sendToWechat);
  $('#sendButton').click(sendToWechat)
  var currid = $('')
  function sendToWechat() {
    postData('http://47.100.121.67:5050/sendToWechat', { "id": $currid, "form": "biggerlab course feedback" }) // FIXME
      .then(data => alert(data)); // arrow function syntax. data is the fetched data
  }

  // FIXME: customize your request
  function postData(url = '', data = {}) {
    // Default options are marked with *
    return fetch(url, {
      method: 'POST', // *GET, POST, PUT, DELETE, etc.
      mode: 'cors', // no-cors, cors, *same-origin
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'same-origin', // include, *same-origin, omit
      headers: {
          'Content-Type': 'application/json',
      },
      redirect: 'follow', // manual, *follow, error
      referrer: 'no-referrer', // no-referrer, *client
      body: JSON.stringify(data), // body data type must match "Content-Type" header
    }).then(response => response); // parses JSON response into native Javascript objects 
  }
</script>
</body>
</html>
