<!DOCTYPE html>
<html>
<head>
<title>Message Viewer</title>
<link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css" type="text/css">
<!--
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
-->
<style>
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>

<body>
<p><h1>必果编程社</h1></p>

<div class="container">
  <div class="row">
    <div class="col">
      {% if wechatInfo.wechatLoggedIn == True %}
      <p>Logged in as: <img src="/static/wechatStuff/{{ wechatInfo.wechatNickName }}.png"> {{ wechatInfo.wechatNickName }}</p>
      <button class="btn btn-primary" id="logoutButton" onclick="logout()">logout</button>
      {% else %}
        {% if wechatInfo.wechatLoggingIn == True %}
        <p>You are logging in as: <img src="/static/wechatStuff/{{ wechatInfo.wechatNickName }}.png"></p>
        {% else %}
        <p>You are not logged in.</p>
        <button class="btn btn-primary" id="loginButton" onclick="login()">login</button>
        <p><a href="/static/QRviewer.html">click this if the button above doesn't bring up a new page.</a></p>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      Message ID: <span id="msgID"></span>
    </div>
  </div>

  <div class="row" style="max-height: 600px">

    <div class="col-2" style="max-height: inherit">
      {% if leftList is defined %}
      <ul class="list-group" style="max-height: inherit; margin-bottom: 10px; overflow-y: auto;">
        {% for item in leftList %}
        <li class="list-group-item list-group-item-action" id="leftList{{ item.id }}" onclick="getInfo(this)">{{ item.studentName }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <h3> Index range is out of bounds. Please try to get yourself back using the buttons below. </h3>
      {% endif %}
      {% if prevLink is not none %}
      <a href="{{ prevLink }}">Prev 10</a>
      {% endif %}
      {% if nextLink is not none %}
      <a href="{{ nextLink }}">Next 10</a>
      {% endif %}
    </div>

    <div class="col-6">
      <div>
        <form>
          <textarea class="form-control" id="message2Send" rows=10></textarea>
        </form>
      </div>
      <div>
        <button class="btn btn-primary" id="sendButton">Send</button>
        <button class="btn btn-primary" id="saveButton">Save</button>
      </div>
      <div style="text-align: left">
        <div class="row">
          <div class="col" style="text-align: right"><label>Student Name</label></div>
          <div class="col"><label id="studentName"></label></div>
        </div>
        <div class="row">
          <div class="col" style="text-align: right"><label>Teacher Name</label></div>
          <div class="col"><label id="teacherName"></label></div>
        </div>
        <div class="row">
          <div class="col" style="text-align: right"><label>Message is edited</label></div>
          <div class="col"><label id="messageEdited"></label></div>
        </div>
        <div class="row">
          <div class="col" style="text-align: right"><label>Reason Filling</label></div>
          <div class="col"><label id="reasonFilling"></input></div>
        </div>
      </div>
    </div>
    
    <div class="col-4" style="max-height: inherit">
      <!--
      <ul class="list-group" style="max-height: inherit; overflow-y: auto; text-align: left;">
        <li class="list-group-item list-group-item-action" id="wechatListChris Zhang || 张牧远 Chris" onclick="switchActive(this)"><img src="/static/wechatStuff/Chris Zhang || 张牧远 Chris.jpg"> Chris Zhang || 张牧远 Chris</li>
        <li class="list-group-item list-group-item-action" id="wechatListMCer4294967296 || " onclick="switchActive(this)"><img src="/static/wechatStuff/MCer4294967296 || .jpg"> MCer4294967296 || </li>
      </ul>
      -->
      {% if wechatInfo.wechatContactList is defined %}
      <ul class="list-group" style="max-height: inherit; overflow-y: auto; text-align: left;">
        {% for item in wechatInfo.wechatContactList %}
        <!--
        <li class="list-group-item list-group-item-action" id="wechatList{{ item }}" onclick="switchActive(this)">
          <img src="data:image/jpeg;charset=utf-8;base64,/static/wechatStuff/{{ wechatInfo.wechatNickName }}/{{ item }}.jpg" style="height: 50px; width: 50px"> {{ item }}
        </li>
        -->
        <li class="list-group-item list-group-item-action" id="wechatList{{ item }}" onclick="switchActive(this)">
          <img style="height: 50px; width: 50px">
          <span>{{ item }}</span>
        </li>
        {% endfor %}
      </ul>
      {% else %}
        {% if wechatInfo.loadedHeadPercentage is defined %}
        <div>Loaded contact: {{ wechatInfo.loadedHeadPercentage }}</div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>


<script src="/static/vendor/jquery/jquery.slim.min.js" crossorigin="anonymous"></script>
<script src="/static/vendor/popper.min.js" crossorigin="anonymous"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
-->
<script>
function switchActive(elem) {
  if (elem.classList.contains("active")) {
    elem.classList.remove("active");
  } else {
    elem.classList.add("active");
  }
}


//var server = "47.100.121.67:5050"
var server = "localhost:5050"
function sendToWechat() {
  var id = document.getElementById("msgID").textContent;
  var url = "http://" + server + "/sendToWechat";

  var targetList = [];
  [].forEach.call(document.getElementsByClassName("list-group-item-action"), 
    function (elem) {
      if (elem.id.startsWith("wechatList") && elem.classList.contains("active")) {
        targetList.push(elem.id.slice(10));
      }
    })
  message = document.getElementById("message2Send").value;
  var confirmText = "You are about to send the message to these people/chatrooms:";
  for (item of targetList) {
    confirmText += "\n" + item;
  }
  if (confirm(confirmText)) {
    var xhr = new XMLHttpRequest;
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
          //var jsonData = JSON.parse(xhr.responseText);
          if (!document.getElementById(id).textContent.endsWith(" (已发送)")) {
              document.getElementById(id).textContent += " (已发送)"
          }
          alert("Message is sent.");
      }
    }
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.send(JSON.stringify({
      "id": id,
      "form": "{{ formName }}",
      "message": document.getElementById("message2Send").value,
      "targetList": targetList
    }))
  }
    
    /*
    postData('http://47.100.121.67:5050/sendToWechat', { "id": $('#msgID').text(), "form": "BiggerlabCourseFeedback", "message": $('#message2Send').val()}) // FIXME
    .then(data => alert(data)); // arrow function syntax. data is the fetched data*/
}
document.getElementById("sendButton").onclick = sendToWechat;

function saveToDB() {
  var id = document.getElementById("msgID").textContent;
  var url = "http://" + server + "/saveToDB";

  var xhr = new XMLHttpRequest;
  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4 && xhr.status == 200) {
      //var jsonData = JSON.parse(xhr.responseText);
      alert("Message is saved.")
    }
  }
  xhr.open("POST", url, true);
  xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xhr.send(JSON.stringify({
    "id": id,
    "form": "{{ formName }}",
    "message": document.getElementById("message2Send").value
  }))
}
document.getElementById("saveButton").onclick = saveToDB;


function makeToTop(listItem) {
  var par = listItem.parentElement;
  par.removeChild(listItem);
  par.insertBefore(listItem, par.children[0]);
}


function getInfo(elem) {
  var id = elem.id.slice(8);
  var url = "http://" + server + "/getInfo/{{ formName }}/" + id;
  
  var xhr = new XMLHttpRequest;
  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4 && xhr.status == 200) {
      [].forEach.call(document.getElementsByClassName("list-group-item-action active"),
        function (btn) {
          if (btn.id.startsWith("leftList")) {
            btn.classList.remove("active")
          }});
        
      var jsonData = JSON.parse(xhr.responseText);
      document.getElementById("msgID").textContent = jsonData.id;
      document.getElementById("message2Send").value = jsonData.message;
      document.getElementById("studentName").textContent = jsonData.studentName;
      document.getElementById("teacherName").textContent = jsonData.teacherName;
      document.getElementById("messageEdited").textContent = jsonData.messageEdited;
      document.getElementById("reasonFilling").textContent = jsonData.reasonFilling;
      document.getElementById("leftList"+id).classList.add("active");
      for (item of wechatList) {
        if (item.id.contains(jsonData.studentName)) {
          makeToTop(item);
        }
      }
    }
  }
  xhr.open("GET", url, true);
  xhr.send();
}


function login(e) {
  var xhr = new XMLHttpRequest;
  var windowOpened = false;
  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4 && xhr.status == 400) {
      // it is already logged in.
      location.reload(true);
    } else if (xhr.readyState == 4 && xhr.status == 200) {
      // it is successfully logged in.
      location.reload(true);
    } else {
      if (!windowOpened) {
        window.open("http://" + server + "/static/QRviewer.html", "_blank");
        windowOpened = true;
      }
    }
  }
  xhr.open("GET", "http://" + server + "/login", true);
  xhr.send();
}


function logout(e) {
  var xhr = new XMLHttpRequest;
  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4 && xhr.status == 200) {
      location.reload(true);
    }
  }
  xhr.open("GET", "http://" + server + "/logout", true);
  xhr.send();
}

var wechatList = Array();

window.onload = function() {

  for (elem of document.getElementsByClassName("list-group-item list-group-item-action")) {
    if (elem.id.startsWith("wechatList")) {
      wechatList.push(elem);
    }
  }

  for (item of wechatList) {
    for (child of item.children) {
      if (child.tagName == "IMG") {
        pic = child;
      }
    }
    pic.src = "/static/wechatStuff/{{ wechatInfo.wechatNickName }}/" + elem.id.slice(10) + ".jpg"
  }
}
</script>
</body>
</html>
